### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.project
.classpath
.settings/
bin/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws

### OS junk ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Java ###
*.class
hs_err_pid*
replay_pid*

### Build Artifacts ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
